<h3 class="mt-2">Все игроки</h3>

<div class="d-inline-flex">
  <% @users.each do |user| %>
     <div class="border rounded mr-2 p-2 text-center bg-light">
       <p><%= link_to user.name, user_path(user) %></p>
       <p>возраст: <%= user.age %></p> 
    </div>
  <% end %>
</div>
