<h3>Все игроки</h3>

<% @users.each do |user| %>
   <div class="border border-dark">
     <p><%= user.name %></p>
     <p>возраст: <%= user.age %></p> 
     <p><%= link_to user.email, user_path(user) %></p>
  </div>
<% end %>
